<div class="container">
  <h1>Recommendations</h1>

  <div class="row" filter-recommendations filter-text="filters.filterText"></div>

  <p></p>

  <div recommendations="" recs="recs" filter-text="filters.filterText"></div>
</div>