<div class="container">
  <h1>The Home View!</h1>
  <ul>
    <li ng-repeat="thing in things">{{thing}}</li>
  </ul>

  <div recommendations="" recs="recs"></div>

  <hr>

  <p>Woo!  A shiny thing.</p>
</div>