<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Summary</th>
    </tr>
    <tr ng-repeat="rec in recs | filter: filterTerm">
        <td>{{rec.title}}</td>
        <td>{{rec.author}}</td>
        <td>{{rec.rating}}</td>
        <td>{{rec.summary}}</td>
    </tr>
</table>
