<table class="table-striped">
    <tr>
        <th class="col-sm-1">Title</th>
        <th class="col-sm-1">Author</th>
        <th class="col-sm-1">Rating</th>
        <th class="col-sm-4">Summary</th>
    </tr>
    <tr ng-repeat="rec in recs | filter: filterText">
        <td class="col-sm-1">{{rec.title}}</td>
        <td class="col-sm-1">{{rec.author}}</td>
        <td class="col-sm-1">{{rec.rating}}</td>
        <td class="col-sm-4">{{rec.summary}}</td>
    </tr>
</table>
